:host {
  color: #e23237;
  text-shadow: 2px 2px 1px #c3002f;

  .myInput{
    color: black;
    font-size: 40px;
    min-width: 400px;
    min-height: 45px;
  }

  .text-container{
    
  }
  .results-text{
    font-size: 30px;
    color: blue;
  }
}
